/node_modules
/public/hot
/public/upload/avatar
/public/storage
/storage/*.key
/vendor
/nbproject
/.idea
/.vagrant
.buildpath
.project
/.settings
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
.idea/workspace.xml
composer.lock
public/js/app.js
public/css/app.css